/* basic site styles */

html {
  font-size: 100%;
}

body {
    margin: 0;
    background-color: #F3F1EB;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    font-style: normal;
    font-weight: 200;
    color: #000000;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.col-sm-6 {
  position: inherit;
}

/* images */
#img {
  max-width: 100%;
  max-height: 100%;
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

/* fade-in image animation*/ 
/* fade-in styles originally written by Maddy Osman https://blog.hubspot.com/website/css-fade-in */

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* fonts */

h1 {
  font-size: 11vw;
  font-weight: lighter;
  color: #149859;
  margin-top: 0px;
}

h1 span {
  font-size: 1.25rem;
  color: #000000;
  line-height: .5rem;
}

@media (max-width: 839px) {
  .tagline {
    display: block;
  }

}
h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: .75rem;
  margin-top: 5px;
  line-height: 1.2rem;
}

h4 {
  font-size: .75rem;
  color: #149859;
  float: right;
  margin-right: 15px;
}

#description-text {
  max-width: 550px;
}

/* links */
a {
  color: black;
  text-decoration: underline;
}

a:hover {
  color:#149859;
}

#logo {
  text-decoration: none;
  color: #149859;
}

/* numbered buttons */

button {
  font-size: 1.875rem;
  line-height: .7em;
  background: none;
  border: solid;
  border-width: 1px;
  border-radius: 100%;
  padding: 15px 17px;
  margin-right: 18px;
  margin-bottom: 16px;
}

.button-ten {
  font-size: 1.875rem;
  background: none;
  border: solid;
  border-width: 1px;
  border-radius: 100%;
  padding: 15px 9px;
}

#load-button:focus {
  border-color: #149859;
  color: #149859;
}

#buttons {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0 auto;
}

button:hover, .button-ten:hover {
  border-color: #149859;
  color: #149859;
}

button:focus {
  outline:none !important;
}


